<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78792273613-3iahs0fj775smocrujj8pimu5mb3n7p9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78792273613-3iahs0fj775smocrujj8pimu5mb3n7p9</string>
	<key>API_KEY</key>
	<string>AIzaSyCjSStLOTUHEnzNaBr5kijuP47exr11Fgc</string>
	<key>GCM_SENDER_ID</key>
	<string>78792273613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edu.ucundinamarca.pproyecto</string>
	<key>PROJECT_ID</key>
	<string>primerproyecto-13f23</string>
	<key>STORAGE_BUCKET</key>
	<string>primerproyecto-13f23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78792273613:ios:0cdf693b937878e9bf8384</string>
	<key>DATABASE_URL</key>
	<string>https://primerproyecto-13f23-default-rtdb.firebaseio.com</string>
</dict>
</plist>